.container{ display: grid; justify-content: center;max-width: 600px; margin:50px auto; padding:50px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.form-group{margin-bottom:30px;}
.form-heading{ margin-bottom: 30px;}
.navbar-collapse{justify-content: space-between; }
.form-inline{gap: 10px;display: flex;}